USE [Distance]
GO
/****** Object:  Table [dbo].[Distance]    Script Date: 10/22/2024 9:36:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distance](
	[Distance] [float] NULL,
	[Date] [smalldatetime] NULL
) ON [PRIMARY]
GO
